In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
colName = ["DEVICE_ID", "CONTEXT_ID", "CITY", "DATA_DATE", "LOGIN_ACCOUNT", "START_TIME", "END_TIME", "CONTENT",
                   "OBJECT_ID"]
df=pd.read_csv('newHouseLog.csv',names=colName,dtype={'LOGIN_ACCOUNT':object})

In [3]:
df=df[df['LOGIN_ACCOUNT']=='18118849310']

In [4]:
df

,DEVICE_ID,CONTEXT_ID,CITY,DATA_DATE,LOGIN_ACCOUNT,START_TIME,END_TIME,CONTENT,OBJECT_ID
61070,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,2019-01-18 04:21:59.059,2019-01-18 04:22:03.003,"{\n ""projectType"" : ""1"",\n ""projectId"" : ""24...",NaN
61078,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,2019-01-18 04:22:03.003,2019-01-18 04:22:05.005,"{\n ""modelId"" : ""2799236"",\n ""projectType"" :...",NaN
61079,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,2019-01-18 04:22:05.005,2019-01-18 04:22:07.007,"{\n ""modelId"" : ""2799232"",\n ""projectType"" :...",NaN
61080,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,NaN,NaN,4室2厅2卫 143㎡ 240781 1,hxxqy-hxlbx
61083,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,NaN,NaN,NaN,hxxqy-hxtp
61090,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,2019-01-18 04:22:07.007,2019-01-18 04:22:08.008,"{\n ""modelId"" : ""2799232"",\n ""projectType"" :...",NaN
61095,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,2019-01-18 04:22:08.008,2019-01-18 04:22:09.009,"{\n ""modelId"" : ""2799236"",\n ""projectType"" :...",NaN
61097,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,2019-01-18 04:22:09.009,2019-01-18 04:22:10.010,"{\n ""projectType"" : ""1"",\n ""projectId"" : ""24...",NaN
61162,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:22:55.055,2019-01-18 04:23:00.000,"{\n ""projectType"" : ""1"",\n ""projectId"" : ""23...",NaN
61169,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:00.000,2019-01-18 04:23:03.003,"{\n ""modelId"" : ""2580869"",\n ""projectType"" :...",NaN
61173,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,NaN,NaN,NaN,hxxqy-fylbx
61174,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:03.003,2019-01-18 04:23:05.005,"{\n ""roomId"" : ""6460751"",\n ""projectType"" : ...",NaN
61178,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:05.005,2019-01-18 04:23:08.008,"{\n ""modelId"" : ""2580869"",\n ""projectType"" :...",NaN
61184,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,NaN,NaN,NaN,hxxqy-fylbx
61185,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:08.008,2019-01-18 04:23:11.011,"{\n ""roomId"" : ""6460747"",\n ""projectType"" : ...",NaN
61193,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:11.011,2019-01-18 04:23:12.012,"{\n ""modelId"" : ""2580869"",\n ""projectType"" :...",NaN
61196,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,NaN,NaN,NaN,hxxqy-fylbx
61197,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:12.012,2019-01-18 04:23:13.013,"{\n ""roomId"" : ""6460749"",\n ""projectType"" : ...",NaN
61199,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:13.013,2019-01-18 04:23:14.014,"{\n ""modelId"" : ""2580869"",\n ""projectType"" :...",NaN
61203,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:14.014,2019-01-18 04:23:16.016,"{\n ""projectType"" : ""1"",\n ""projectId"" : ""23...",NaN
61208,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,NaN,NaN,3室2厅2卫 117㎡ 234015 1,xfxqy-hxlbx
61209,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:16.016,2019-01-18 04:23:21.021,"{\n ""modelId"" : ""2699831"",\n ""projectType"" :...",NaN
61216,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,NaN,NaN,NaN,hxxqy-fylbx
61218,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:21.021,2019-01-18 04:23:23.023,"{\n ""roomId"" : ""5992961"",\n ""projectType"" : ...",NaN
61225,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:23.023,2019-01-18 04:23:24.024,"{\n ""modelId"" : ""2699831"",\n ""projectType"" :...",NaN
61229,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,NaN,NaN,NaN,hxxqy-fylbx
61230,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:24.024,2019-01-18 04:23:26.026,"{\n ""roomId"" : ""5992963"",\n ""projectType"" : ...",NaN
61235,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:26.026,2019-01-18 04:23:27.027,"{\n ""modelId"" : ""2699831"",\n ""projectType"" :...",NaN
61238,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:27.027,2019-01-18 04:23:28.028,"{\n ""roomId"" : ""5992965"",\n ""projectType"" : ...",NaN
61239,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,NaN,NaN,NaN,hxxqy-fylbx
61242,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:28.028,2019-01-18 04:23:30.030,"{\n ""modelId"" : ""2699831"",\n ""projectType"" :...",NaN
61248,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:30.030,2019-01-18 04:23:31.031,"{\n ""projectType"" : ""1"",\n ""projectId"" : ""23...",NaN
61254,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-238817,南京,20190118,18118849310,2019-01-18 04:23:34.034,2019-01-18 04:23:39.039,"{\n ""projectType"" : ""1"",\n ""projectId"" : ""23...",NaN
61260,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-238817,南京,20190118,18118849310,2019-01-18 04:23:39.039,2019-01-18 04:23:42.042,"{\n ""modelId"" : ""2564477"",\n ""projectType"" :...",NaN
61266,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-238817,南京,20190118,18118849310,NaN,NaN,NaN,hxxqy-fylbx
61267,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-238817,南京,20190118,18118849310,2019-01-18 04:23:42.042,2019-01-18 04:23:45.045,"{\n ""roomId"" : ""4590511"",\n ""projectType"" : ...",NaN
61274,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-238817,南京,20190118,18118849310,2019-01-18 04:23:45.045,2019-01-18 04:23:48.048,"{\n ""modelId"" : ""2564477"",\n ""projectType"" :...",NaN
61280,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-238817,南京,20190118,18118849310,2019-01-18 04:23:48.048,2019-01-18 04:23:49.049,"{\n ""projectType"" : ""1"",\n ""projectId"" : ""23...",NaN

In [5]:
# from pandas.io.json import json_normalize

In [6]:
# df['content']

In [7]:
# import json
# def custom(x):
#     try:
#         object=json.loads(x)
#         return (object['roomId'],object['projectType'],object['projectId'])
#     except:
#         return (np.NAN,np.NAN,np.NAN)
    
# (df['roomId'],df['projectType'],df['projectId'])=df['content'].apply(custom)

In [8]:
import json
# def custom(df):
#     try:
#         object=json.loads(df['content'])
#         df['roomId']=object.get('roomId',np.NaN)
#         df['projectType']=object.get('projectType',np.NaN)
#         df['modelId']=object.get('modelId',np.NaN)
#         df['projectId']=object.get('projectId',np.ALLOW_THREADSNaN)
#         df['shaiXuan']=object.get('shaiXuan',np.NaN)
#         return df
#     except:
#         df['roomId']=np.NaN
#         df['projectType']=np.NaN
#         df['modelId']=np.NaN
#         df['projectId']=np.NaN
#         df['shaiXuan']=np.NaN
#         return df

def custom(df):
    try:
        object = json.loads(df['CONTENT'])
        df['ROOMID'] = object.get('roomId', np.NaN)
        df['PROJECTTYPE'] = object.get('projectType', np.NaN)
        df['MODELID'] = object.get('modelId', np.NaN)
        df['PROJECTID'] = object.get('projectId', np.NaN)
        df['SHAIXUAN'] = object.get('shaiXuan', np.NaN)
        return df
    except:
        df['ROOMID'] = np.NaN
        df['PROJECTTYPE'] = np.NaN
        df['MODELID'] = np.NaN
        df['PROJECTID'] = np.NaN
        df['SHAIXUAN'] = np.NaN
        return df
    
df=df.apply(custom,axis=1)

In [9]:
df.dropna(subset=['CONTENT'])

,DEVICE_ID,CONTEXT_ID,CITY,DATA_DATE,LOGIN_ACCOUNT,START_TIME,END_TIME,CONTENT,OBJECT_ID,ROOMID,PROJECTTYPE,MODELID,PROJECTID,SHAIXUAN
61070,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,2019-01-18 04:21:59.059,2019-01-18 04:22:03.003,"{\n ""projectType"" : ""1"",\n ""projectId"" : ""24...",NaN,NaN,1,NaN,240781,NaN
61078,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,2019-01-18 04:22:03.003,2019-01-18 04:22:05.005,"{\n ""modelId"" : ""2799236"",\n ""projectType"" :...",NaN,NaN,1,2799236,240781,NaN
61079,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,2019-01-18 04:22:05.005,2019-01-18 04:22:07.007,"{\n ""modelId"" : ""2799232"",\n ""projectType"" :...",NaN,NaN,1,2799232,240781,NaN
61080,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,NaN,NaN,4室2厅2卫 143㎡ 240781 1,hxxqy-hxlbx,NaN,NaN,NaN,NaN,NaN
61090,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,2019-01-18 04:22:07.007,2019-01-18 04:22:08.008,"{\n ""modelId"" : ""2799232"",\n ""projectType"" :...",NaN,NaN,1,2799232,240781,NaN
61095,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,2019-01-18 04:22:08.008,2019-01-18 04:22:09.009,"{\n ""modelId"" : ""2799236"",\n ""projectType"" :...",NaN,NaN,1,2799236,240781,NaN
61097,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-240781,南京,20190118,18118849310,2019-01-18 04:22:09.009,2019-01-18 04:22:10.010,"{\n ""projectType"" : ""1"",\n ""projectId"" : ""24...",NaN,NaN,1,NaN,240781,NaN
61162,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:22:55.055,2019-01-18 04:23:00.000,"{\n ""projectType"" : ""1"",\n ""projectId"" : ""23...",NaN,NaN,1,NaN,234015,NaN
61169,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:00.000,2019-01-18 04:23:03.003,"{\n ""modelId"" : ""2580869"",\n ""projectType"" :...",NaN,NaN,1,2580869,234015,NaN
61174,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:03.003,2019-01-18 04:23:05.005,"{\n ""roomId"" : ""6460751"",\n ""projectType"" : ...",NaN,6460751,1,NaN,234015,NaN
61178,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:05.005,2019-01-18 04:23:08.008,"{\n ""modelId"" : ""2580869"",\n ""projectType"" :...",NaN,NaN,1,2580869,234015,NaN
61185,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:08.008,2019-01-18 04:23:11.011,"{\n ""roomId"" : ""6460747"",\n ""projectType"" : ...",NaN,6460747,1,NaN,234015,NaN
61193,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:11.011,2019-01-18 04:23:12.012,"{\n ""modelId"" : ""2580869"",\n ""projectType"" :...",NaN,NaN,1,2580869,234015,NaN
61197,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:12.012,2019-01-18 04:23:13.013,"{\n ""roomId"" : ""6460749"",\n ""projectType"" : ...",NaN,6460749,1,NaN,234015,NaN
61199,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:13.013,2019-01-18 04:23:14.014,"{\n ""modelId"" : ""2580869"",\n ""projectType"" :...",NaN,NaN,1,2580869,234015,NaN
61203,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:14.014,2019-01-18 04:23:16.016,"{\n ""projectType"" : ""1"",\n ""projectId"" : ""23...",NaN,NaN,1,NaN,234015,NaN
61208,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,NaN,NaN,3室2厅2卫 117㎡ 234015 1,xfxqy-hxlbx,NaN,NaN,NaN,NaN,NaN
61209,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:16.016,2019-01-18 04:23:21.021,"{\n ""modelId"" : ""2699831"",\n ""projectType"" :...",NaN,NaN,1,2699831,234015,NaN
61218,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:21.021,2019-01-18 04:23:23.023,"{\n ""roomId"" : ""5992961"",\n ""projectType"" : ...",NaN,5992961,1,NaN,234015,NaN
61225,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:23.023,2019-01-18 04:23:24.024,"{\n ""modelId"" : ""2699831"",\n ""projectType"" :...",NaN,NaN,1,2699831,234015,NaN
61230,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:24.024,2019-01-18 04:23:26.026,"{\n ""roomId"" : ""5992963"",\n ""projectType"" : ...",NaN,5992963,1,NaN,234015,NaN
61235,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:26.026,2019-01-18 04:23:27.027,"{\n ""modelId"" : ""2699831"",\n ""projectType"" :...",NaN,NaN,1,2699831,234015,NaN
61238,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:27.027,2019-01-18 04:23:28.028,"{\n ""roomId"" : ""5992965"",\n ""projectType"" : ...",NaN,5992965,1,NaN,234015,NaN
61242,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:28.028,2019-01-18 04:23:30.030,"{\n ""modelId"" : ""2699831"",\n ""projectType"" :...",NaN,NaN,1,2699831,234015,NaN
61248,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:30.030,2019-01-18 04:23:31.031,"{\n ""projectType"" : ""1"",\n ""projectId"" : ""23...",NaN,NaN,1,NaN,234015,NaN
61254,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-238817,南京,20190118,18118849310,2019-01-18 04:23:34.034,2019-01-18 04:23:39.039,"{\n ""projectType"" : ""1"",\n ""projectId"" : ""23...",NaN,NaN,1,NaN,238817,NaN
61260,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-238817,南京,20190118,18118849310,2019-01-18 04:23:39.039,2019-01-18 04:23:42.042,"{\n ""modelId"" : ""2564477"",\n ""projectType"" :...",NaN,NaN,1,2564477,238817,NaN
61267,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-238817,南京,20190118,18118849310,2019-01-18 04:23:42.042,2019-01-18 04:23:45.045,"{\n ""roomId"" : ""4590511"",\n ""projectType"" : ...",NaN,4590511,1,NaN,238817,NaN
61274,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-238817,南京,20190118,18118849310,2019-01-18 04:23:45.045,2019-01-18 04:23:48.048,"{\n ""modelId"" : ""2564477"",\n ""projectType"" :...",NaN,NaN,1,2564477,238817,NaN
61280,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-238817,南京,20190118,18118849310,2019-01-18 04:23:48.048,2019-01-18 04:23:49.049,"{\n ""projectType"" : ""1"",\n ""projectId"" : ""23...",NaN,NaN,1,NaN,238817,NaN

In [10]:
columns=[ 'PIC_ID','PIC_PRJID','PIC_PRJNAME','PIC_TYPE','PIC_DESC','PIC_TING','PIC_WEI','PIC_CHU','PIC_AREA','PIC_SELL_POINT','PIC_HX_TOTALPRICE' ]
df2=pd.read_csv('newHouseModel.txt', names=columns,header=None ,dtype={'PIC_ID':object})

/Users/michael/.pyenv/versions/anaconda3-5.2.0/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,6,7,8,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
df2[:10]

,PIC_ID,PIC_PRJID,PIC_PRJNAME,PIC_TYPE,PIC_DESC,PIC_TING,PIC_WEI,PIC_CHU,PIC_AREA,PIC_SELL_POINT,PIC_HX_TOTALPRICE
0,1,1,东恒阳光嘉园,3,a1 拷贝.jpg,0,0,0,0,NaN,NaN
1,2,1,东恒阳光嘉园,3,a2 拷贝.jpg,0,0,0,0,NaN,NaN
2,3,1,东恒阳光嘉园,3,a3 拷贝.jpg,0,0,0,0,NaN,NaN
3,4,1,东恒阳光嘉园,3,b1 拷贝.jpg,0,0,0,0,NaN,NaN
4,5,1,东恒阳光嘉园,3,b2 拷贝.jpg,0,0,0,0,NaN,NaN
5,6,1,东恒阳光嘉园,3,b3 拷贝.jpg,0,0,0,0,NaN,NaN
6,7,1,东恒阳光嘉园,3,C09-二层平面_w.jpg,0,0,0,0,NaN,NaN
7,8,1,东恒阳光嘉园,3,c1 拷贝.jpg,0,0,0,0,NaN,NaN
8,9,1,东恒阳光嘉园,3,c2 拷贝.jpg,0,0,0,0,NaN,NaN
9,10,1,东恒阳光嘉园,3,c3 拷贝.jpg,0,0,0,0,NaN,NaN

In [12]:
# df.info()

In [13]:
# df2.info()

In [14]:
df_model=df.merge(df2,left_on='MODELID',right_on='PIC_ID',how='left')

In [15]:
df_model.dropna(subset=['PIC_PRJID'])

,DEVICE_ID,CONTEXT_ID,CITY,DATA_DATE,LOGIN_ACCOUNT,START_TIME,END_TIME,CONTENT,OBJECT_ID,ROOMID,...,PIC_PRJID,PIC_PRJNAME,PIC_TYPE,PIC_DESC,PIC_TING,PIC_WEI,PIC_CHU,PIC_AREA,PIC_SELL_POINT,PIC_HX_TOTALPRICE
9,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:00.000,2019-01-18 04:23:03.003,"{\n ""modelId"" : ""2580869"",\n ""projectType"" :...",NaN,NaN,...,234015.0,熙悦,10,熙悦E户型图128㎡,2,2,1,128,三开间并排朝南，采光好,374.68
12,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:05.005,2019-01-18 04:23:08.008,"{\n ""modelId"" : ""2580869"",\n ""projectType"" :...",NaN,NaN,...,234015.0,熙悦,10,熙悦E户型图128㎡,2,2,1,128,三开间并排朝南，采光好,374.68
15,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:11.011,2019-01-18 04:23:12.012,"{\n ""modelId"" : ""2580869"",\n ""projectType"" :...",NaN,NaN,...,234015.0,熙悦,10,熙悦E户型图128㎡,2,2,1,128,三开间并排朝南，采光好,374.68
18,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:13.013,2019-01-18 04:23:14.014,"{\n ""modelId"" : ""2580869"",\n ""projectType"" :...",NaN,NaN,...,234015.0,熙悦,10,熙悦E户型图128㎡,2,2,1,128,三开间并排朝南，采光好,374.68
21,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:16.016,2019-01-18 04:23:21.021,"{\n ""modelId"" : ""2699831"",\n ""projectType"" :...",NaN,NaN,...,234015.0,熙悦,10,熙悦D2户型117㎡,2,2,1,117,户型方正、三开间朝南,338
24,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:23.023,2019-01-18 04:23:24.024,"{\n ""modelId"" : ""2699831"",\n ""projectType"" :...",NaN,NaN,...,234015.0,熙悦,10,熙悦D2户型117㎡,2,2,1,117,户型方正、三开间朝南,338
27,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:26.026,2019-01-18 04:23:27.027,"{\n ""modelId"" : ""2699831"",\n ""projectType"" :...",NaN,NaN,...,234015.0,熙悦,10,熙悦D2户型117㎡,2,2,1,117,户型方正、三开间朝南,338
30,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-234015,南京,20190118,18118849310,2019-01-18 04:23:28.028,2019-01-18 04:23:30.030,"{\n ""modelId"" : ""2699831"",\n ""projectType"" :...",NaN,NaN,...,234015.0,熙悦,10,熙悦D2户型117㎡,2,2,1,117,户型方正、三开间朝南,338
33,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-238817,南京,20190118,18118849310,2019-01-18 04:23:39.039,2019-01-18 04:23:42.042,"{\n ""modelId"" : ""2564477"",\n ""projectType"" :...",NaN,NaN,...,238817.0,万科金域国际,9,万科金域国际90㎡户型图,2,1,1,90,户型方正 南北通透,254.68
36,A5B9DA9F-40C6-4DE4-9539-3A288CE6B614,1-238817,南京,20190118,18118849310,2019-01-18 04:23:45.045,2019-01-18 04:23:48.048,"{\n ""modelId"" : ""2564477"",\n ""projectType"" :...",NaN,NaN,...,238817.0,万科金域国际,9,万科金域国际90㎡户型图,2,1,1,90,户型方正 南北通透,254.68

In [16]:
room_columes=['room_id','flats','price','totalprice']
df3=pd.read_csv('newHouseRoom.txt',header=None, names=room_columes, dtype={'room_id':object} ,low_memory=False)

In [17]:
df3[:10]

  room_id  flats price  totalprice
0  129685      1   NaN         NaN
1  129683      1   NaN         NaN
2  129681      1   NaN         NaN
3  129679      1   NaN         NaN
4  129677      1   NaN         NaN
5  129675      1   NaN         NaN
6  129673      1   NaN         NaN
7  129671      1   NaN         NaN
8  129669      1   NaN         NaN
9  129667      1   NaN         NaN

In [18]:
df_final=df_model.merge(df3,left_on='ROOMID',right_on='room_id',how='left')

In [19]:
df_final.dropna(subset=['CONTENT'])

KeyError: ['content']