In [2]:
from datetime import datetime
import  pandas as pd
import  numpy as np
import  matplotlib.pyplot as plt

/Users/michael/.pyenv/versions/anaconda3-5.2.0/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
now=datetime.now()

In [4]:
now

datetime.datetime(2018, 12, 26, 10, 58, 53, 671387)

In [6]:
now.year,now.month,now.day

(2018, 12, 26)

In [7]:
delta= datetime(2011,1,7)-datetime(2008,6,24,8,15)

In [8]:
delta

datetime.timedelta(926, 56700)

In [9]:
delta.days

926

In [10]:
delta.seconds

56700

In [11]:
from datetime import timedelta

In [12]:
start=datetime(2011,1,7)

In [13]:
start+timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [14]:
start-2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [15]:
stamp=datetime(2011,1,3)

In [16]:
str(stamp)

'2011-01-03 00:00:00'

In [17]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [18]:
value='2011-01-03'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [19]:
datestrs=['7/6/2011','8/6/2011']
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [20]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [21]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [22]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [23]:
datestrs

['7/6/2011', '8/6/2011']

In [24]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [25]:
idx=pd.to_datetime(datestrs+[None])

In [26]:
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [27]:
dates=[datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),
      datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]

In [28]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [29]:
ts=pd.Series(np.random.randn(6),index=dates)

In [30]:
ts

2011-01-02    0.031555
2011-01-05   -0.130897
2011-01-07   -0.086649
2011-01-08   -0.044128
2011-01-10    0.003490
2011-01-12   -0.318097
dtype: float64

In [31]:
type(ts)

pandas.core.series.Series

In [32]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [34]:
ts[::2]

2011-01-02    0.031555
2011-01-07   -0.086649
2011-01-10    0.003490
dtype: float64

In [36]:
ts+ts[::2]

2011-01-02    0.063111
2011-01-05         NaN
2011-01-07   -0.173297
2011-01-08         NaN
2011-01-10    0.006981
2011-01-12         NaN
dtype: float64

In [37]:
stamp=ts.index[2]

In [38]:
ts[stamp]

-0.08664855363999827

In [39]:
ts['1/10/2011']

0.00349045787620251

In [40]:
long_ts=pd.Series(np.random.randn(1000),
                  index=pd.date_range('1/1/2000', periods=1000))

In [43]:
long_ts[:10]

2000-01-01   -0.206540
2000-01-02   -1.299004
2000-01-03   -0.433549
2000-01-04   -0.708889
2000-01-05   -0.534801
2000-01-06    0.560178
2000-01-07    0.001607
2000-01-08   -0.339322
2000-01-09   -1.965921
2000-01-10    1.034930
Freq: D, dtype: float64

In [47]:
long_ts['2001-05']

2001-05-01    1.151904
2001-05-02    0.280805
2001-05-03   -0.742497
2001-05-04    0.580298
2001-05-05   -0.708728
2001-05-06   -0.290244
2001-05-07    0.058050
2001-05-08   -0.088507
2001-05-09   -0.716137
2001-05-10    0.699336
2001-05-11   -1.087612
2001-05-12   -0.361310
2001-05-13    0.103273
2001-05-14   -0.077227
2001-05-15    1.347292
2001-05-16    1.745737
2001-05-17    0.425663
2001-05-18    0.673989
2001-05-19    0.082061
2001-05-20    0.224944
2001-05-21    1.254985
2001-05-22   -0.575779
2001-05-23    0.774940
2001-05-24    1.279145
2001-05-25    1.442825
2001-05-26    0.022777
2001-05-27    0.753931
2001-05-28   -1.387732
2001-05-29   -0.251504
2001-05-30    1.783177
2001-05-31    0.448436
Freq: D, dtype: float64

In [48]:
ts.truncate(after='1/9/2011')

2011-01-02    0.031555
2011-01-05   -0.130897
2011-01-07   -0.086649
2011-01-08   -0.044128
dtype: float64

In [51]:
dates=pd.date_range('1/1/2000',periods=100,freq='W-WED')
long_df=pd.DataFrame(np.random.randn(100,4),
                 index=dates,
                 columns=['Colorado','Texas','New York','Ohio'])

In [53]:
long_df[:10]

            Colorado     Texas  New York      Ohio
2000-01-05  0.921452  0.265059  0.050354  1.267918
2000-01-12 -0.990797 -1.642790 -0.937398 -1.634299
2000-01-19 -0.248452  1.629518  1.498330  0.262590
2000-01-26 -1.365305 -0.493008  0.307932  0.369506
2000-02-02  1.163990 -1.357353 -0.135641  0.891470
2000-02-09 -0.456221  0.706685  0.094690 -0.573546
2000-02-16  0.157870  1.090820  1.049780 -0.070502
2000-02-23  0.080845  1.171939  1.305615 -0.573321
2000-03-01  0.829708 -0.699097 -0.618155  2.437099
2000-03-08  0.364641  1.093876 -1.091145  3.655687

In [54]:
dates=pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])

In [55]:
dup_ts=pd.Series(np.arange(5),index=dates)

In [56]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [57]:
dup_ts.index.is_unique

False

In [58]:
grouped=dup_ts.groupby(level=0)

In [59]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [60]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [61]:
index=pd.date_range('4/1/2012','6/1/2012')

In [62]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [63]:
pd.date_range(start='4/1/2012',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [64]:
pd.date_range(end='6/1/2012',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [65]:
pd.date_range('1/1/2000','12/1/2000',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [66]:
pd.date_range('5/2/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [67]:
pd.date_range('1/1/2000','1/3/2000 23:59', freq='BM')

DatetimeIndex([], dtype='datetime64[ns]', freq='BM')

In [68]:
pd.date_range('5/2/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [69]:
pd.date_range('1/1/2000','1/3/2000 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [70]:
pd.date_range('1/1/2000', periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [71]:
import pytz

In [72]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [73]:
tz=pytz.timezone('US/Eastern')

In [74]:
tz

In [75]:
pd.date_range('3/9/2012 9:30',periods=10,freq='D',tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [77]:
ts_utc=ts.tz_localize('UTC')

In [78]:
ts_utc

2011-01-02 00:00:00+00:00    0.031555
2011-01-05 00:00:00+00:00   -0.130897
2011-01-07 00:00:00+00:00   -0.086649
2011-01-08 00:00:00+00:00   -0.044128
2011-01-10 00:00:00+00:00    0.003490
2011-01-12 00:00:00+00:00   -0.318097
dtype: float64

In [79]:
ts_utc.tz_convert('US/Eastern')

2011-01-01 19:00:00-05:00    0.031555
2011-01-04 19:00:00-05:00   -0.130897
2011-01-06 19:00:00-05:00   -0.086649
2011-01-07 19:00:00-05:00   -0.044128
2011-01-09 19:00:00-05:00    0.003490
2011-01-11 19:00:00-05:00   -0.318097
dtype: float64

In [80]:
ts_eastern=ts.tz_localize('US/Eastern')

In [81]:
ts_eastern

2011-01-02 00:00:00-05:00    0.031555
2011-01-05 00:00:00-05:00   -0.130897
2011-01-07 00:00:00-05:00   -0.086649
2011-01-08 00:00:00-05:00   -0.044128
2011-01-10 00:00:00-05:00    0.003490
2011-01-12 00:00:00-05:00   -0.318097
dtype: float64

In [82]:
stamp_moscow=pd.Timestamp('2011-03-12 04:00',tz='Europe/Moscow')

In [83]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')